= form.text_field :email, type: 'email', placeholder: "Email", class: "text-field"
= form.password_field :password, placeholder: "Password", class: "text-field"
= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "text-field"